<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\Sabio.Web.Api.dll"
                stdoutLogEnabled="false"
                stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
      <handlerSettings>
        <handlerSetting name="debugLevel" value="FILE,CONSOLE,TRACE" />
        <handlerSetting name="debugFile" value="debug.log" />
      </handlerSettings>
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44373" />
      </environmentVariables>
    </aspNetCore>
    <security></security>
  </system.webServer>
</configuration>